# Pandas

- Analyse 2D or multi dimensional data
- table like data
- internally they use numpy

In [ ]:
%pip install pandas

## creating data

- dictionaries 
- import from csv files

- final data will be a dataframe (table)

In [3]:
import pandas as pd

In [4]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}

In [6]:
df = pd.DataFrame(data)

df

    Name  Age      City
0   John   28  New York
1   Anna   34     Paris
2  Peter   29    Berlin
3  Linda   32    London

In [7]:
df['Name']

0     John
1     Anna
2    Peter
3    Linda
Name: Name, dtype: object